{% extends 'base.html' %}
{% load static %}
{% block cart_count_bloc %}
    {{ cart_items }}
{% endblock %}
{% block content %}
<!-- SLIDER-AREA START  -->
<section class="slider-area slider-style-2">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">	
            <img src="{% static 'store_front/img/slider/slider-2/1.jpg' %}" alt="" title="#slider-direction-1"  />
            <img src="{% static 'store_front/img/slider/slider-2/2.jpg' %}" alt="" title="#slider-direction-2"  />
            <img src="{% static 'store_front/img/slider/slider-2/3.jpg' %}" alt="" title="#slider-direction-3"  />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <div class="layer-1">
                        <div class="wow fadeInUpBig" data-wow-duration="2s" data-wow-delay="0.5s">
                            <h3 class="slider-title3 text-uppercase mb-0" >welcome to our</h3>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="2.5s" data-wow-delay="0.5s">
                            <h2 class="slider-title1 text-uppercase mb-0"><span class="d-none d-md-block">ReCraftify </span></h2>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="3s" data-wow-delay="0.5s">
                            <h2 class="slider-title2 text-uppercase" >Transforming trash into Treassure</h2>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="3.5s" data-wow-delay="0.5s">
                            <a href="{% url 'products' 'new' %}" class="button-one style-2 text-uppercase mt-20" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <div class="layer-1">
                        <div class="wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h3 class="slider-title3 text-uppercase mb-0" >welcome to our</h3>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="1.5s" data-wow-delay="0.5s">
                            <h2 class="slider-title1 text-uppercase"><span class="d-none d-md-block">ReCraftify</span></h2>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="2s" data-wow-delay="0.5s">
                            <p class="slider-pro-brief">The initiative of making the world "a better place" by recycling used items</p>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="2.5s" data-wow-delay="0.5s">
                            <a href="{% url 'products' 'used' %}" class="button-one style-2 text-uppercase mt-20" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>		
        </div>
        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <div class="layer-1">
                        <div class="wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.5s">
                            <h3 class="slider-title3 text-uppercase mb-0" >welcome to our</h3>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="1.5s" data-wow-delay="0.5s">
                            <h2 class="slider-title1 text-uppercase mb-0"><span class="d-none d-md-block">Recraftify </span> </h2>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="2s" data-wow-delay="0.5s">
                            <h2 class="slider-title2 text-uppercase" >Transforming trash into Treassure</h2>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="2.5s" data-wow-delay="0.5s">
                            <p class="slider-pro-brief">The initiative of making the world "a better place" by recycling used items</p>
                        </div>
                        <div class="wow fadeInUpBig" data-wow-duration="3s" data-wow-delay="0.5s">
                            <a href="{% url 'products' 'scrapyard' %}" class="button-one style-2 text-uppercase mt-20" data-text="Shop now">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>		
        </div>
    </div>
</section>
<!-- SLIDER-AREA END -->
<!-- BANNER-AREA START -->

<!-- PRODUCT-AREA START -->
<div class="product-area pt-80 pb-30 product-style-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title-border">Featured Products</h2>
                </div>
                <div class="product-slider style-2 arrow-left-right">
                    
                    {% for i in featured_products %}
                        <div class="col-12">
                            <div class="single-product">
                                <div class="product-img">
                                    {% with created_date=i.created_at|date:"Y-m-d" %}
                                        {% if created_date == current_date %}
                                            <span class="pro-label new-label">new</span>
                                        {% endif %}
                                    {% endwith %}
                                    {% with final_price=i.final_price %}
                                        <span class="pro-price-2">₹ {{ final_price }}</span>
                                    {% endwith %}
                                    <a href="{% url 'product_detail' i.id %}"><img src="{{ i.image.url }}" alt="" /></a>
                                </div>
                                <div class="product-info clearfix text-center">
                                    <div class="fix">
                                        <h4 class="post-title"><a href="{% url 'product_detail' i.id %}">{{ i.name }}</a></h4>
                                    </div>
                                    <div class="fix">
                                        <span class="pro-rating">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                        </span>
                                    </div>
                                    <div class="product-action clearfix">
                                        <!-- <a href="{% url 'watchlist_product' i.id %}" data-bs-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> -->
                                        <a href="{% url 'add_to_cart' i.id %}" data-bs-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT-AREA END -->
<!-- DISCOUNT-PRODUCT START -->
<div class="discount-product-area discount-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="row">
                    <div class="discount-product-slider dots-bottom-right">
                        <!-- single-discount-product start -->
                        <div class="col-lg-12">
                            <div class="discount-product">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6">
                                        <a href="single-blog.html">
                                            <img src="{% static 'store_front/img/discount/5.jpeg' %}" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6">
                                        <div class="discount-info"> 
                                            <h1 class="text-dark-red">Discount Available</h1>
                                            <p>Discover incredible savings on ReCraftify! Enjoy exclusive discounts on a wide range of items, including old, new, and scrap products. Whether you're looking to buy or sell, take advantage of our special offers and find great deals that suit your needs. Shop smart and save more with ReCraftify today!</p>
                                            <a class="button-2 text-dark-red text-uppercase" href="#">GET DISCOUNT <i class="zmdi zmdi-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-discount-product end -->
                        <!-- single-discount-product start -->
                        <div class="col-lg-12">
                            <div class="discount-product">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6">
                                        <a href="single-blog.html">
                                            <img src="{% static 'store_front/img/discount/6.jpeg' %}" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6">
                                        <div class="discount-info"> 
                                            <h1 class="text-dark-red">Discount Available</h1>
                                            <p>Discover incredible savings on ReCraftify! Enjoy exclusive discounts on a wide range of items, including old, new, and scrap products. Whether you're looking to buy or sell, take advantage of our special offers and find great deals that suit your needs. Shop smart and save more with ReCraftify today!</p>
                                            <a class="button-2 text-dark-red text-uppercase" href="#">GET DISCOUNT <i class="zmdi zmdi-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-discount-product end -->
                        <!-- single-discount-product start -->
                        <div class="col-lg-12">
                            <div class="discount-product">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6">
                                        <a href="single-blog.html">
                                            <img src="{% static 'store_front/img/discount/5.jpeg' %}" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6">
                                        <div class="discount-info"> 
                                            <h1 class="text-dark-red">Discount Available</h1>
                                            <p>Discover incredible savings on ReCraftify! Enjoy exclusive discounts on a wide range of items, including old, new, and scrap products. Whether you're looking to buy or sell, take advantage of our special offers and find great deals that suit your needs. Shop smart and save more with ReCraftify today!</p>
                                            <a class="button-2 text-dark-red text-uppercase" href="#">GET DISCOUNT <i class="zmdi zmdi-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-discount-product end -->
                        <!-- single-discount-product start -->
                        <div class="col-lg-12">
                            <div class="discount-product">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-6">
                                        <a href="single-blog.html">
                                            <img src="{% static 'store_front/img/discount/6.jpeg' %}" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6">
                                        <div class="discount-info"> 
                                            <h1 class="text-dark-red">Discount Available</h1>
                                            <p>Discover incredible savings on ReCraftify! Enjoy exclusive discounts on a wide range of items, including old, new, and scrap products. Whether you're looking to buy or sell, take advantage of our special offers and find great deals that suit your needs. Shop smart and save more with ReCraftify today!</p>
                                            <a class="button-2 text-dark-red text-uppercase" href="#">GET DISCOUNT <i class="zmdi zmdi-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-discount-product end -->
                    </div>
                </div>
            </div>
            <!-- up-comming-product start -->
            <div class="col-lg-4 col-md-4">
                <div class="up-comming-product">
                    <div class="up-comming-img">
                        <a href="#"><img src="{% static 'store_front/img/product/up-comming.jpeg' %}" alt="" /></a>
                    </div>
                    <div class="up-comming-info text-center">
                        <div class="up-comming-brief">
                            <h4 class="post-title"><a href="#">Antique clock</a></h4>
                            <h4 class="comming-pro-price">₹ 2000.00</h4>
                        </div>
                        <div class="count-down">
                            <div data-countdown="2022/10/08"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- up-comming-product end -->
        </div>
    </div>
</div>
<!-- DISCOUNT-PRODUCT END -->
<!-- PURCHASE-ONLINE-AREA START -->
<div class="purchase-online-area pt-80 product-style-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title-border">Purchase Online on ReCraftify</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12  text-center">
                <!-- Nav tabs -->
                <ul class="tab-menu nav clearfix">
                    <li><a class="active" href="#new-arrivals" data-bs-toggle="tab">New Arrivals</a></li>
                    <li><a href="#most-view" data-bs-toggle="tab">Most View </a></li>
                    <li><a href="#discounts" data-bs-toggle="tab">Discounts</a></li>
                </ul>
            </div>	
            <div class="col-lg-12">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="new-arrivals">
                        <div class="row">
                            <!-- Single-product start -->
                            {% for product in new_arrivals %}
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            {% with created_date=product.created_at|date:"Y-m-d" %}
                                                {% if created_date == current_date %}
                                                    <span class="pro-label new-label">new</span>
                                                {% endif %}
                                            {% endwith %}
                                            {% with final_price=product.final_price %}
                                                <span class="pro-price-2">₹ {{ final_price }}</span>
                                            {% endwith %}
                                            <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" alt="" /></a>
                                        </div>
                                        <div class="product-info clearfix text-center">
                                            <div class="fix">
                                                <h4 class="post-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
                                            </div>
                                            <div class="fix">
                                                <span class="pro-rating">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                </span>
                                            </div>
                                            <div class="product-action clearfix" style="justify-content: space-between;">
                                                <!-- <a href="{% url 'watchlist_product' product.id %}" data-bs-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> -->
                                                <a href="{% url 'add_to_cart' product.id %}" data-bs-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Single-product end -->
                        </div>
                    </div>
                    <div class="tab-pane" id="most-view">
                        <div class="row">
                            <!-- Single-product start -->
                            {% for product in most_viewed %}
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            {% with created_date=product.created_at|date:"Y-m-d" %}
                                                {% if created_date == current_date %}
                                                    <span class="pro-label new-label">new</span>
                                                {% endif %}
                                            {% endwith %}
                                            {% with final_price=product.final_price %}
                                                <span class="pro-price-2">₹ {{ final_price }}</span>
                                            {% endwith %}
                                            <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" alt="" /></a>
                                        </div>
                                        <div class="product-info clearfix text-center">
                                            <div class="fix">
                                                <h4 class="post-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
                                            </div>
                                            <div class="fix">
                                                <span class="pro-rating">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                </span>
                                            </div>
                                            <div class="product-action clearfix" style="justify-content: space-between;">
                                                <!-- <a href="{% url 'watchlist_product' product.id %}" data-bs-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> -->
                                                <a href="{% url 'add_to_cart' product.id %}" data-bs-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Single-product end -->					
                        </div>						
                    </div>
                    <div class="tab-pane" id="discounts">
                        <div class="row">
                            <!-- Single-product start -->
                            {% for product in discounts %}
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="single-product">
                                        <div class="product-img">
                                            {% with created_date=product.created_at|date:"Y-m-d" %}
                                                {% if created_date == current_date %}
                                                    <span class="pro-label new-label">new</span>
                                                {% endif %}
                                            {% endwith %}
                                            {% with final_price=product.final_price %}
                                                <span class="pro-price-2">₹ {{ final_price }}</span>
                                            {% endwith %}
                                            <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" alt="" /></a>
                                        </div>
                                        <div class="product-info clearfix text-center">
                                            <div class="fix">
                                                <h4 class="post-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h4>
                                            </div>
                                            <div class="fix">
                                                <span class="pro-rating">
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                </span>
                                            </div>
                                            <div class="product-action clearfix" style="justify-content: space-between;">
                                                <!-- <a href="{% url 'watchlist_product' product.id %}" data-bs-toggle="tooltip" data-placement="top" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a> -->
                                                <a href="{% url 'add_to_cart' product.id %}" data-bs-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Single-product end -->
                        </div>					
                    </div>
                </div>
            </div>			
        </div>
    </div>
</div>
<!-- PURCHASE-ONLINE-AREA END -->

{% endblock %}